<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1><%=title%></h1>
    <!-- express와 데이터베이스를 연결하는 전송이므로 method를 꼭 post로 지정해야함.
    폼은 /board/write로 전송함. -->
    <form action="/board/write" method="post" enctype="multipart/form-data">
        <table border="1">
            <!-- 각 데이터에 맞게 input 박스에 name값 그대로 파라미터로 넘어가게 됨. -->
            <tr>
                <td>작성자</td>
                <td><input type="text" name="name" id="name" required/></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title" id="title" required></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
            </tr>
            <tr>
                <td>이미지</td>
                <td><input type="file" name="image" /></td>
            </tr>
            <tr>
                <td>패스워드</td>
                <td><input type="password" name="passwd" id="passwd" required/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <!-- 글쓰기 버튼 클릭시 '/board/write' post로 전송함. -->
                    <button type="submit">글쓰기</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>